@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body
{
    background-color: rgba(24,24,24,1);
    color: #FFF;
    font-size: 17px;
    padding-top: 70px;
    &>header
    {
        background-color: rgba(28,28,28,0.8);
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;

        &>div.container
        {
            &>div.row
            {
               &>div.sonic
               {
                    &>img 
                    {
                        width: 100%;
                        margin: 10px 0;
                    }
               }
               nav.menu
               {
                    width: 100%;
                    &>ul 
                    {
                        widows: 100px;
                        margin: 0;
                        padding: 21px 0;
                        list-style: nome;
                        text-align: right;
                    &>li 
                    {
                        display: inline-block;
                        margin-left: 25px;
                        
                        &.inicio
                        {
                            &>a 
                            {
                                color: #FFF
                            }
                        }
                    }
                    }
               }
            }
        }
    }
    &>main
    {
        &>div.container
        {
            &>h2
            {
                
            }
            &>div.tabela
            {
                &>table
                {
                    &>tr
                    {
                        &>th
                        {
                            
                        }
                    }
                }
            }
            &>div.row
            {
                &>div.ps5
                {
                    &>img.imgPS5
                    {
                        
                    }
                } 
                &>h3
                {

                }  
                &>p
                {

                }
            }
        }
        &>div.container
        {
            &>div.row
            {
                &>div.video-1
                {
                    display: inline-block;
                    text-align: left;  
                    padding-top: 25px;  
                    padding-left: 0px;
                    padding-right: 60px;
                    padding-bottom: 25px;
                    
                }
                &>div.video-2
                {
                    display: inline-block;
                    text-align: right;    
                    padding-top: 25px;  
                    padding-left: 60px;
                    padding-right: 0px;
                    padding-bottom: 25px;
                    
                }

            }
        }

    }

    &>footer 
    {
        &>div.container
        {
           &>div.row
           {
                &>div
                {
                    &>form
                    {
                        
                        &>input
                        {
                            display: block; 
                            width:100%;                            
                        }
                        &>textarea
                        { 
                            display: block; 
                            width:100%;                            
                            height: 150px;                              
                        }
                    }

                }
           }
        }
        &>div.copyright 
        {
            background-color: #FFF;
            color: black;
            &>div.container 
            {
                &>div.row
                {
                    &>div 
                    {
                     
                    }
                }
            }
        }
    }
}
